html,body {
  overflow-x: hidden;
}

.scorecard {
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  .holeNumber {
    font-size: 0.8rem;
  }

  .hole {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    
    &:not(:last-child) {
      border-right: 1px solid #ccc;
    }

  }
  .handicaped {
    background: #888;
  }
  .par3 {
    opacity: 0.4;
  }
}